tunnels:
  tunnelA:
    disabled: false
    source: "0.0.0.0:7778"
    remote: "127.0.0.1:22"
    destination: "10.0.0.1:80"
    auth:
      user: "root"
      # Either password or key are required
      password: "password"
      key: "/root/.ssh/id_rsa"
