tunnels:
  serverA:
    cliServerHost: "127.0.0.1"
    cliServerPort: 7779
    disabled: false # if true, this tunnel will have to be manually enabled
    source: "0.0.0.0:6000"
    remote: "127.0.0.1:6001"
    destination: "whoami:80"
    auth:
      user: "root"
      password: "root"
      # Either password or key are required
      # key: "/root/.ssh/id_rsa"
